#wrapper{
    width:90%;
    margin:0 auto;
    font-family: sans-serif;
  }
body{
    background-color:black;
}
header{
    background:
    linear-gradient(90deg, #000 50%, rgba(102, 102, 102, 0.00) 101.94%), linear-gradient(270deg, #000 0.5%, rgba(0, 0, 0, 0) 15%),
    url("images/sailormoonheader.jpg") no-repeat right;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
}
nav{
    background-color:coral;
    padding-top: .25em;
    padding-bottom: .25em;

}
nav li{
    display: inline;
    padding:0.5em;
}
main{
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 50px;
    display: contain;
    background-color: ghostwhite;
}
main p{
    float:left;
    background-color:ghostwhite;
    margin-right:10px;
    width: 45%;
    display: inline;
    
}
.episodes{
    display:flex;
    flex-wrap:wrap;
    background-color:ghostwhite;
}
.epCard{
    width:350px;
    margin-left:50px;
    margin-bottom:25px;
    flex:0 0;
    display: inline;
}
.epCard p{
    width:auto;
}
a{
    color:ghostwhite;
    
}
footer{
    float:none;
    display: contain;
    background-color:ghostwhite;
    width:100%;
}
@media screen and (max-width:775px){
    nav{
        width:225px;
    }
    nav li{
        float:none;
      display:block;
      padding:1em;
    }
    .episodes{
        display:block;
    }
    main p{
        float:none;
        width:350px
    }
    main{
        width:400px;
        padding-right: 50px;
    }
}