div#page{
    background-color:ghostwhite;
    margin-right: 127px;
    margin-left: 127px;
    display: contain;
}
#wrapper{
    max-width:1200px;
    margin:0 auto;
    font-family: sans-serif;
  }
body{
    background-color:black;
}
main{
    padding-left: 100px;
    padding-bottom: 325px;
    padding-top: 50px;
    display: contain;
    background-color: ghostwhite;
}
footer{
    background-color: ghostwhite;
    float:none;
    display: inline;
    background-color:ghostwhite;
    padding-right:1064.5px;
}
main p{
    float:left;
    background-color:ghostwhite;
    margin-right:10px;
    width: 45%;
    display: inline;
    
}
.episodes{
    display:flex;
    flex-wrap:wrap;
    background-color:ghostwhite;
}
.epCard{
    width:350px;
    margin-left:50px;
    margin-bottom:25px;
    flex:0 0;
    display: inline;
}
a{
    color:ghostwhite;
    
}
nav{
    background-color:coral;
    padding-top: .25em;
    padding-bottom: .25em;

}
nav li{
    display: inline;
}
nav li a{
    padding:0.5em;
}
div#wrapper{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
div#discription{
    padding-left: 75px;

}
header{
    background:
    linear-gradient(90deg, #000 50%, rgba(102, 102, 102, 0.00) 101.94%), linear-gradient(270deg, #000 0.5%, rgba(0, 0, 0, 0) 15%),
    url("images/sailormoonheader.jpg") no-repeat right;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
}
@media screen and (max-width:750px){
    nav li{
      display:block;
      padding:0.5em;
    }
    .episodes{
        display:block;
        background-color:ghostwhite;
        margin-left:50px;
        width:350px;
    }
    main p{
        float:none;
    }
    main{
        width:300px;
    }
}